@model BankingApplication.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Born)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Born)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        @if (Model.Address != null)
        {
            <dd>
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Address.Country)</th>
                        <th>@Html.DisplayNameFor(model => model.Address.Province)</th>
                        <th>@Html.DisplayNameFor(model => model.Address.City)</th>
                        <th>@Html.DisplayNameFor(model => model.Address.Street)</th>
                        <th>@Html.DisplayNameFor(model => model.Address.numberHouse)</th>
                        <th>Edycja</th>

                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Address.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address.Province)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address.City)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address.numberHouse)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Addresses", new { id = Model.Address.Id }, "")
                        </td>
                    </tr>
                </table>
            </dd>
        }
        @if (Model.Address == null)
        {
            @Html.ActionLink("Edit", "Create", "Addresses")
        }

        <dt>
            @Html.DisplayNameFor(model => model.Accounts)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Accounts[0].AccountNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Accounts[0].CreationDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Accounts[0].Balance)</th>

                </tr>
                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Balance)
                        </td>
                    </tr>
                }
            </table>
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
