@model BankingApplication.Models.Credit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Years)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Years)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepaymentAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
